@font-face {
  font-family: "Outfit-VariableFont";
  src: url(Fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url(Fonts/YoungSerif-Regular.ttf);
}

body {
  --bg1: rgb(238, 220, 198);
  background-color: var(--bg1);
  font-family: "Outfit-VariableFont";
  padding: 128px;
}

ul li,
.textPreset4,
.textPreset5 {
  --color1: #5f564d;
  color: var(--color1);
}

.main {
  --bg2: rgb(255, 255, 255);
  background-color: var(--bg2);
  margin: 0 auto;
  padding: 40px;
  border-radius: 24px;
}

.main,
img {
  width: 656px;
}

img {
  height: 300px;
  border-radius: 12px;
}

.content {
  margin-top: 40px;
  padding: 0;
}

.textPreset2,
.textPreset3,
.line .textPreset5,
ol li {
  --color2: #7a284e;
  color: var(--color2);
}

.textPreset1,
.textPreset2 {
  font-family: "YoungSerif-Regular";
}

.textPreset1 {
  --color3: #312e2c;
  color: var(--color3);
  font-size: 40px;
  margin: 0px 0px 24px 0px;
}

.textPreset2 {
  padding: 0;
  font-size: 28px;
}

.textPreset3 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0px 0px 20px;
}

.textPreset4 {
  font-size: 16px;
}

.textPreset5,
ol li::marker {
  font-weight: bold;
}

.textPreset4,
.textPreset5 {
  line-height: 150%;
  display: inline;
}

.preparationTime {
  --bg3: #fff7fb;
  background-color: var(--bg3);
  padding: 4px 0 10px 0px;
}

.preparationTime,
.ingredients,
.instructions,
.nutrition {
  margin: 32px 0px 0px 0px;
}

li:last-child {
  margin: 0px 0px 32px 0px;
}

li {
  line-height: 32px;
  padding-left: 20px;
}

.ingredients ul,
ol {
  padding-inline-start: 30px;
  margin: 24px 0px 0px 0px;
}

ul {
  padding-inline-start: 40px;
  margin: 24px 0px 0px 0px;
}

.instructions,
.ingredients,
.line {
  --b-color: #e3ddd7;
  border-bottom: 1px solid var(--b-color);
}

.nutrition > .textPreset2 {
  margin: 0px 0px 24px 0px;
}

.table {
  margin: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  align-items: baseline;
  height: 24px;
  padding: 12px 0px 12px 0px;
}

.line span {
  width: 50%;
}

.line:last-child {
  border: 0;
  padding: 12px 0px 0px 0px;
}
